---
---

@import "{{ site.theme }}";

.page-header {
    padding: 2rem 3rem;
    background-color: #000000;
    background-image: none;
    position: relative;
    height: auto;
    overflow: hidden;
    z-index: 100;
}

.site-footer {
    font-size:small;
    text-align: center;
}

// Blurred background
.page-header::before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-image: url('../../resources/header0.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: scale(1.1);
    filter: blur(5px) brightness(0.6);
    z-index: -1;
}

// Title/Project name is a link back to home
.project-name a {
    color: #fff;
    text-decoration: none;
}

// Don't make buttons responsive, as there's 6 and it's a lot of scrolling.
.btn {
    @include small {
      display: inline-block;
      width: auto;
    }
  }

.download-button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 16px 40px 20px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  border-radius: 8px;
  font-weight: bold;
}

.download-button:hover {
  text-decoration: none;
  background-color: #2d7230; /* Slightly darker green */
}
